@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Cliente";
    Layout = "/Views/Shared/_BootStrapLayoutMenu.cshtml";
}


<partial name="~/Views/Componentes/LineChartMuestra.cshtml" />

<div class="row mb-3">

    <div class="col-6">


        <partial name="~/Views/Componentes/PieChartMuestras.cshtml" />


    </div>

    <div class="col-6">


        <partial name="~/Views/Componentes/BarChartMuestras.cshtml" />


    </div>



</div>