
<div class="container-fluid bg-white rounded-3 p-3 mt-3 mb-3">

    <table id="tbAdminPruebas" class="table table-responsive cell-border" style="width:100%;" aria-describedby="example_info">
        
        <thead class="bg-primary">
            <tr>
                <th class="fw-bold " tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="color:#F4F4F2;">CODIGO</th>
                <th class="fw-bold " tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="color:#F4F4F2;">NOMBRE</th>
                <th class="fw-bold " tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="color:#F4F4F2;">PRECIO</th>
                <th class="fw-bold " tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="color:#F4F4F2;">ESTADO</th>
            </tr>
        </thead>

        <tbody id="tbPruebasAdmin">

        </tbody>

    </table>

    <div class="col-md-1 d-flex justify-content-right">
        <div class="form-group">
            <input id="btnCargarPruebas" onclick="cargarPruebasActivas()" type="submit" value="CARGAR" class="btn btn-primary" />
        </div>
    </div>    

</div>