################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ApisHL/ClientesHL/.vs/EjemploHL/FileContentIndex/edda5142-478d-48c7-bfc5-24f9394b624f.vsidx
/ApisHL/ClientesHL/.vs/EjemploHL/FileContentIndex/6e007328-171a-44b1-9b68-514a8fb098fc.vsidx
/ApisHL/ClientesHL/.vs/EjemploHL/FileContentIndex/9c71c9d1-dc7b-486b-b894-9ee2d5595aa0.vsidx
/ApisHL/ClientesHL/.vs/EjemploHL/FileContentIndex/aa02e4df-816d-4551-b33b-8e5527fb61e9.vsidx
