<div class="modal fade" id="ModalObservacionPrueba" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<h5 class="modal-title text-white">Observación Muestra</h5>
				<a class="btn text-decoration-none rounded-2" data-bs-dismiss="modal" aria-label="Cerrar" style="background-color:red"><i class="fa-solid fa-xmark fa-xl" style="color:white ;"></i></a>
			</div>

			<div class="modal-body justify-content-center align-items-center m-3">

				<!--CONTENIDO DEL MODAL-->

				<textarea id="obsprueba" class="form-control" rows="3" disabled maxlength="200" style="height: 100px; resize:none"></textarea> 


			</div>
			
		</div>
	</div>
</div>
