<div class="container-fluid bg-white rounded-3 mt-3">

    <div class="row d-flex p-3">

        <div class="d-flex col">

            <div class="d-flex align-items-center gap-2">
                <input class="form-control" placeholder="Buscar" type="search" />
                <a class="btn text-decoration-none  p-2 rounded-1 bg-primary"><i class="fa-solid fa-magnifying-glass" style="margin-right:3px; color:#F4F4F2"></i></a>

            </div>

        </div>

        <div class="d-flex col gap-3 align-items-center justify-content-end">

            <span class="fw-bold">Desde</span>
            <span><input class="form-control" type="date" /></span>

            <span class="fw-bold">Hasta</span>
            <span><input class="form-control" type="date" /></span>


        </div>


    </div>



</div>