<div class="container-fluid bg-white rounded-3 p-3 mt-3 mb-3">

    <table id="TbPedidos" class="table table-responsive dataTable mt-2" style="width:100%;" aria-describedby="example_info">
        <thead class="bg-primary">
            <tr>
                <th class="fw-bold text-center" tabindex="0" rowspan="1" colspan="1" style="width: 100.613px; color:#F4F4F2;">ITEM</th>
                <th class="sorting fw-bold text-center" tabindex="1" aria-controls="example" rowspan="1" colspan="1" style="width: 86.2125px;color:#F4F4F2;">N° REMISIÓN</th>
                <th class="sorting fw-bold text-center" tabindex="3" aria-controls="example" rowspan="1" colspan="1" style="width: 40.325px;color:#F4F4F2;">FECHA</th>
                <th class="sorting fw-bold text-center" tabindex="4" aria-controls="example" rowspan="1" colspan="1" style="width: 86.2125px;color:#F4F4F2;">TOTAL ORDENES</th>
                <th class="sorting fw-bold text-center" tabindex="5" aria-controls="example" rowspan="1" colspan="1" style="width: 75.8375px;color:#F4F4F2;">TOTAL MUESTRAS</th>
                <th class="sorting fw-bold text-center" tabindex="6" aria-controls="example" rowspan="1" colspan="1" style="width: 40.325px;color:#F4F4F2;">TOTAL RETIRADAS</th>
                <th class="sorting fw-bold text-center" tabindex="6" aria-controls="example" rowspan="1" colspan="1" style="width: 40.325px;color:#F4F4F2;">FECHA DE RETIRO</th>
                <th class="sorting fw-bold text-center" tabindex="6" aria-controls="example" rowspan="1" colspan="1" style="width: 40.325px;color:#F4F4F2;">ESTADO</th>
                <th class="sorting fw-bold text-center" tabindex="6" aria-controls="example" rowspan="1" colspan="1" style="width: 40.325px;color:#F4F4F2;">ACCIÓN</th>
            </tr>
        </thead>

        <tbody id="tbItemsPedido">
            

        </tbody>

    </table>

</div>

